    html {
        width: 100%;
        box-sizing: border-box;
    }
    
    body {
        width: 1200px;
        padding: 1.2%;
        margin: auto;
    }
    
    .label-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 48.8vw 48.8vw;
        overflow: hidden;
        border: 1px solid black;
    }
    
    .label-front {
        display: grid;
        grid-template-rows: 17fr 23fr 22fr 22fr 16fr;
        border: 1px solid black;
    }
    
    .label-header {
        background: red;
        text-transform: uppercase;
        font-size: 38px;
        padding: 1em;
        color: white;
        text-align: center;
    }
    
    .label-title {
        text-transform: uppercase;
        font-size: 38px;
        padding: 1em;
        text-align: center;
    }
    
    .label-footer {
        width: 20%;
        justify-self: end;
        background: linear-gradient(to bottom right, white 50%, red 50%, red 100%);
    }