@import "parts/params";
@import (reference) "parts/bootstrap";
@import "parts/mixins";

button{
  &:extend(.btn all);
  cursor: pointer;
}

input {
 
  border-radius: 5px;
  max-width: 100%;
}

select{
  &:extend(.custom-select all);
  cursor: pointer;
}





#market-list {
  .size-full;
  .grid(auto auto,auto, 20px);
  padding: 20px;
}

.market-list{
  background-color: antiquewhite;
  padding: 1em;
 
  .grid(max-content repeat(4, 1fr), 3em 3em auto, 10px, 10px);
  align-items: center;
  &__title{
    .title-h4;
    grid-column: span 5;
    align-self: center;
    
  }
  
  &__text, &__filter{
    font-size: .8rem;
    text-align: right;
    align-self: center;
    
  }
  
  &__item{
    grid-column: span 5;
    box-shadow: 3px 3px 6px gray;
    padding: 1em;
    background-color:white;
    font-size: .9rem;
    .grid(10% max-content 1fr  20% );
    align-items: center;
    justify-items: start;
    
    &__title{
      
      font-weight: bold;
    }
    
    &__img {
      justify-self: stretch;
      align-self: stretch;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start:  4;
      background-color: @darkest;
    }
    
    &__button {
      justify-self: center;
    }
  }
}

.number-input{
  .grid(3em 1em 1em, 2em, 3px);
  max-width: 100%;
}

.search{
  align-self: stretch;
  .flex-row;
  align-content: center;
  
  &__input{
    align-self: stretch;
  }
}

.cart{
  .grid(2em auto, auto);
  
  &__tab{
    .grid(1fr, repeat(auto-fit, 2em));
    
    &__item{
      background-color: @cart;
      border-bottom-left-radius: 10px;
      
      border-top-left-radius: 10px;
      border: 1px solid gray;
      align-self: center;
      text-align: center;
    }
  }
  
  &__main{
    background-color: @cart;
  }
}

.cart-row{
  .grid( 12em 5em 5em 2em)
}